#log-in{
    .form-group{
        width: 40%;
        text-align: left;
        margin: 0 auto;
        margin-bottom: 1em;
        input{
            border: 2px solid #2196F3;
        }
    }
    button{
        margin-top: 2em;
    }
}