#form-view-deatail{
    input{
        border: 2px solid #2196F3;
    }
    label{
        color: black;
    }
    .lich-trinh{
        button{
            margin-right: -50%; 
        }
    }
    .nhat-ki{
        button{
            margin-left: -50%; 
        }
    }
}